@font-face {
  font-family: IRANSansMedium;
  src: url("fonts/IRANSans/IRANSans Medium/IRANSans Medium.ttf");
}
@font-face {
  font-family: IRANSansRegular;
  src: url("fonts/IRANSans/IRANSans Regular/IRANSans\ Regular.ttf");
}

.footerBar {
  z-index: 99;
  width: 100%;
  height: 10%;
  background-image: url(../css/images/FooterBG.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5% 0 0 0;
  padding: 0 0 2% 0;
  font-family: IRANSansRegular;

  .info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    font-family: IRANSansRegular;
    .logo {
    }

    .contact_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
      p {
        font-family: IRANSansRegular;
      }
    }

    .social_media {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .social_media_title {
        margin: 10px;
        font-family: IRANSansRegular;
      }
      .social_media_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        .social_media_item {
          margin: 0 10px;
        }
      }
    }

    .symbols {
      .symbol_item {
        margin: 0 10px;
      }
    }
  }

  .navbar_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    font-family: IRANSansRegular;
    .product_option {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 5% 0;
      .option_item {
        cursor: pointer;
      }
    }
    .footer_links {
      direction: rtl;
      display: flex;
      justify-content: space-around;
      align-items: start;
      flex-direction: row;
      width: 100%;
      font-size: 0.8rem;
      .link_item {
        font-family: IRANSansRegular;
        p {
          font-family: IRANSansRegular;
          cursor: pointer;
          margin: 3px 0;
          transition: all 0.5s ease-in-out;
          &:first-child {
            color: #211eb2;
            margin: 10px;
            width: 100%;

            svg {
              transform: rotate(90deg);
            }
          }
          &:hover {
            color: #6a6a6aef;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .footerBar {
    .info_container {
      .product_option {
      }
      .logo {
        width: 30%;
        height: 30%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .contact_info {
        p {
        }
      }

      .social_media {
        .social_media_title {
        }
        .social_media_items {
          .social_media_item {
          }
        }
      }

      .symbols {
        .symbol_item {
        }
      }
    }

    .navbar_footer {
      .product_option {
        .option_item {
        }
      }
      .footer_links {
        .link_item {
          p {
            &:first-child {
            }
            &:hover {
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .footerBar {
    .info_container {
      .product_option {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .logo {
        width: 20%;
        height: 30%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .contact_info {
        p {
          font-size: 0.9rem;
        }
      }

      .social_media {
        .social_media_title {
          font-size: 0.9rem;
        }
        .social_media_items {
          .social_media_item {
          }
        }
      }

      .symbols {
        .symbol_item {
        }
      }
    }

    .navbar_footer {
      .product_option {
        .option_item {
        }
      }
      .footer_links {
        .link_item {
          p {
            &:first-child {
            }
            &:hover {
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .footerBar {
    height: 50vh;
    .info_container {
      width: 60%;
      .product_option {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .logo {
        width: 20%;
        height: 30%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .contact_info {
        p {
          font-size: 0.9rem;
        }
      }

      .social_media {
        .social_media_title {
          font-size: 0.9rem;
        }
        .social_media_items {
          .social_media_item {
          }
        }
      }

      .symbols {
        .symbol_item {
        }
      }
      .footer_links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin: 30px 100px 0 0;
        .link_item {
          height: 40px;
          overflow: hidden;
          text-align: start;
          transition: all 0.3s ease;
          &.more {
            height: 210px;

            p {
              &:first-child {
                svg {
                  // transform: rotate(360deg);
                }
              }
            }
          }
          &.more_about {
            height: 300px;
            p {
              &:first-child {
                svg {
                  // transform: rotate(360deg);
                }
              }
            }
          }
          p {
            &:first-child {
              
            }
            &:hover {
            }
          }
        }
      }
    }

    .navbar_footer {
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;

      .product_option {
        .option_item {
        }
      }
      .footer_links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin: 30px 100px 0 0;
        .link_item {
          height: 40px;
          overflow: hidden;
          text-align: start;
          transition: all 0.3s ease;
          &.more {
            height: 210px;

            p {
              &:first-child {
                svg {
                  transform: rotate(360deg);
                }
              }
            }
          }
          &.more_about {
            height: 300px;
            p {
              &:first-child {
                svg {
                  transform: rotate(360deg);
                }
              }
            }
          }
          p {
            &:first-child {
            }
            &:hover {
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .footerBar {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .info_container {
      width: 100%;
      .product_option {
        display: flex;
        justify-content: center;
        align-items: center;

        .option_item{
          width:100px;
          height: 100%;
          object-fit: contain;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

      }
      .logo {
        width: 20%;
        height: 30%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .contact_info {
        p {
          font-size: 0.8rem;
        }
      }

      .social_media {
        .social_media_title {
          font-size: 0.8rem;
        }
        .social_media_items {
          .social_media_item {
            width: 30px;
            height: 30px;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .symbols {
        margin: 10px 0;
        .symbol_item {
          display: inline-block;
          width: 50px;
          height:50px;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }

      .footer_links {
        direction: rtl;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin:20px auto;
        .link_item {
          height: 30px;
          overflow: hidden;
          text-align: center;
          transition: all 0.3s ease;
          &.more {
            height: 220px;

            p {
              &:first-child {
                svg {
                  // transform: rotate(360deg);
                }
              }
            }
          }
          &.more_about {
            height: 300px;
            p {
              &:first-child {
                svg {
                  // transform: rotate(360deg);
                }
              }
            }
          }
          p {
            cursor: pointer;
            font-size: 0.7rem;
           margin: 5px;
            &:first-child {
              color: #211eb2;
              margin:10px 0 ;
            }
            &:hover {
            }
          }
        }
      }
    }

    .navbar_footer {
      width: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;

      .product_option {
        .option_item {
        }
      }
 
    }
  }
}
// .footerBar {

//   .info_container {

//     .logo {
//     }

//     .contact_info {

//       p {
//       }
//     }

//     .social_media {

//       .social_media_title {
//       }
//       .social_media_items {

//         .social_media_item {

//         }
//       }
//     }

//     .symbols {
//       .symbol_item {

//       }
//     }
//   }

//   .navbar_footer {

//     .product_option {

//       .option_item {

//       }
//     }
//     .footer_links {

//       .link_item {

//         p {

//           &:first-child {

//           }
//           &:hover{
//           }
//         }
//       }
//     }
//   }
// }
