@font-face {
  font-family: IRANSansMedium;
  src: url("fonts/IRANSans/IRANSans Medium/IRANSans Medium.ttf");
}

.main-container-swaper {
  width: 100%;
  min-height: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;

  .mySwiper {
    display: flex;

    .card {
      background-color: #08124f;
      border-radius: 25px;
      height: 100%;
      width: 95%;
      color: white;
      direction: rtl;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 15px;

      .imgContainer {
        height: 50%;
        width: 95%;
        img {
          height: 100%;
          width: 100%;
        }
      }

      .merchandise {
        font-family: IRANSansMedium;
        font-size: 14px;
        margin: 10px 0;
        display: -webkit-box;
        max-height: 50px;
        overflow: hidden;
        position: relative;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .payment-bar-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        // padding: 5px;
        width: 100%;

        p {
          text-align: end;
          font-family: IRANSansMedium;
          font-size: 1rem;
          width: 100%;
          margin: 10px;
        }

        .add-to-cart {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          background-color: #ffffff;
          border-radius: 10px;
          color: black;
          width: 90%;
          height: 40px;
          // margin: 10px;

          .imgContainer {
            width: 30%;
            img {
              width: 25px;
              height: 25px;
            }
          }

          p {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1185px) {
  .main-container-swaper {
    .mySwiper {
      .card {
        .imgContainer {
          img {
          }
        }

        .merchandise {
          font-size: 0.8rem;
        }

        .payment-bar-card {
          p {
            font-size: 0.8rem;
          }

          .add-to-cart {
            .imgContainer {
              img {
              }
            }

            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1185px) {
  .main-container-swaper {
    .mySwiper {
      .card {
        .imgContainer {
          img {
          }
        }

        .merchandise {
          font-size: 0.8rem;
        }

        .payment-bar-card {
          p {
            font-size: 0.8rem;
          }

          .add-to-cart {
            .imgContainer {
              img {
              }
            }

            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

// .main-container-swaper {

//   .mySwiper {

//     .card {

//       .imgContainer {

//         img {

//         }
//       }

//       .merchandise{

//       }

//       .payment-bar-card {

//         p {

//         }

//         .add-to-cart {

//           .imgContainer{

//             img {

//             }
//           }

//           p {

//           }

//         }
//       }
//     }
//   }
// }
